* {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.login{
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre les boutons horizontalement */
  align-items: center; /* Centre les boutons verticalement (si nécessaire) */
  gap: 1rem; /* Ajoute un espace entre les boutons */
}
.inscri, .connex {
  background-color: grey;
  color: white;
  border-radius: 25px;
  width: 5rem;
  padding: 0.5rem 1rem; /* Ajoute un peu de rembourrage pour l'aspect */
  border: none; /* Supprime la bordure par défaut (si nécessaire) */
  cursor: pointer; /* Indique que ce sont des boutons cliquables */
  margin-top: 1rem;
  text-decoration: none;
  text-align: center;
}
