* {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  background-color: white;
}
.inscri {
  display: flex;
  background-color: red;
  color: blue;
  border-radius: 25px;
  width: 5rem;
  margin-left: 4rem;
  width: 5rem;
  margin-top: 1rem;
}
.connex {
  display: flex;
  background-color: red;
  color: blue;
  border-radius: 25px;
  bottom: 2rem;
  width: 5rem;
  margin-left: 13rem;
}
.prsweboite {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50vh;
  width: 80vw;
  border-radius: 25px;
  background-color:grey;
}
.presweb {
  justify-content: center;
  align-items: center;
  display: flex;
text-decoration: none;
}
