.inscription-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;

}

.inscription-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.inscription-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745; /* Couleur verte pour l'inscription */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.inscription-container button:hover {
  background-color: blue;
}